version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.0.1
    container_name: kafka
    ports:
      - "9092:9092"
    expose:
      - "29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  kafka-init:
    image: confluentinc/cp-kafka:7.0.1
    command: ["/bin/bash", "-c", "/create-topics.sh"]
    depends_on:
      kafka:
        condition: service_started
    volumes:
      - type: bind
        source: ./ressources/create-topics.sh
        target: /create-topics.sh
    init: true

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - 8080:8080
    environment:
      DYNAMIC_CONFIG_ENABLED: "true"
    volumes:
      - ./ressources/kafkaui.yml:/etc/kafkaui/dynamic_config.yaml

  logs-service:
    ports:
      - "3000:3000"
    build:
      context: ./services/logs
      dockerfile: Dockerfile
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    restart: on-failure
